[2018-03-15 06:30] darrenldl opened #11 "Maybe fuzzing"
The code has been quite throughly reviewed, with a fairly heavy test suite and quite a bit of AUDIT comments.

But it may still be a good idea to fuzz the library since it may be used in quite critical applications.

[2018-05-02 13:05] #11 closed

[2018-05-18 00:59] DrPeterVanNostrand opened #17 "`Error` type should implement `std::error::Error`."
Common error chaining crates (`error-chain`, `failure`, etc...) require all error types in their chains implement the trait `std::error::Error`. Currently, `reed_solomon_erasure::Error` does not implement this trait, thus excluding it from being used alongside many popular approaches to error handling.

[2018-05-18 03:00] darrenldl commented on #17
Thanks for the suggestion!

Out of curiousity, are you using the crate or are you just fixing crates online?

Tracked at PR #18

[2018-05-18 11:27] DrPeterVanNostrand commented on #17
Thanks for the quick response! Yup, I'm working on [a piece of software](https://github.com/poanetwork/hbbft) that is using the `reed-solomon-erasure` crate. I'll check out the PR now.

[2018-05-20 12:42] #17 closed

[2018-05-20 13:45] darrenldl commented on #17
@DrPeterVanNostrand `reed-solomon-erasure v3.1.0` has been published to crates.io. Thanks again for the suggestion! Feel free to open another issue if you find the library to be missing anything.

As a side note, the paper that your project is based on("Honey Badger of BFT Protocols") uses zfec for its implementation, which I'm not sure if this library is compatible with, though examining very bri

[2018-05-20 23:48] DrPeterVanNostrand commented on #17
Ok awesome, I appreciate letting me know about the version bump! I'll bring up the zfec/reed-solomon compatibility thing with the rest of the team.

[2018-06-05 05:22] darrenldl opened #19 "Optimize away `get_parity_rows`"
Clone the rows from matrix and store the parity rows along with the internal matrix in codec.

[2018-06-05 18:31] darrenldl commented on #19
Turns out that's not possible or necessary.

This has been gone through very intially actually but I forgot about it, and the current solution is sufficiently cheap.

[2018-06-05 18:31] #19 closed

[2018-08-21 12:20] EvgenKor opened #23 "Compiling for android platform"
Hi! I want to use your library for another rust project which compiled for android platform. Unfortunately when I try to build my project, I have a following error:

`cargo:warning=simd_c/reedsolomon.c:1:0: error: unknown value 'native' for -march`

I inspected your code and found a problem: gcc compler for android (aarch64-linux-android-gcc) doesn't support -march flag. Project builds successfull

[2018-08-21 15:54] darrenldl commented on #23
Hello, thanks for reporting!

I've updated `build.rs` on the dev branch, see if it works on your side.

If it does I'll open a PR and publish it as soon as all CI stuff are finished.

[2018-08-21 16:03] darrenldl commented on #23
I have opened a PR just cause the CI stuff takes a while. See #24

[2018-08-21 16:14] darrenldl opened #25 "Update test code import statements to adjust to nightly macro import/export rules"
See CI report here : https://travis-ci.org/darrenldl/reed-solomon-erasure/jobs/418772940

[2018-08-22 06:10] darrenldl commented on #23
Turns out to be a very simple fix(just need to remove a duplicate macro definition), I've updated the PR accordingly.

One potential issue about using the library on Android is I'm not sure how well GCC generates the SIMD assembly code, so the performance might not be as fast as it is on PCs.

But I don't think that's a massive problem as the library's performance should be above the bandwidth of

[2018-08-22 06:28] darrenldl commented on #23
Alright so that broke stable/beta build, I just renamed it to something else and now it should work on all 3 rust channels.

Adding conditional compilation via `build.rs` in test code is too much hassle for me, so I'll just stick with the current solution.

[2018-09-05 15:47] darrenldl commented on #23
@EvgenKor Any updates from your side? I don't have an Android development platform, so I can't test the fix easily.

Anyhow I will be incredibly busy for next 1-2 months, apologies in advance if I don't get back to you quickly.

[2018-09-07 07:27] EvgenKor commented on #23
@darrenldl Sorry for the long delay from my side. I hasn't possibilities to answer you for last two weeks. I tested development branch and all works well, thank you very much!
I think you can add in your build.rs one more exception for platform 'ios' (line 160)

[2018-10-27 15:59] darrenldl commented on #23
@EvgenKor Incredibly sorry for the long delay, as mentioned in last comment, past 1-2 months were extremely busy for me, dealing with thesis etc. Just handed in the thesis 3 days ago actually. I was unable to go through all GitHub notifications in detail during the time, missing your comment as a result.

I'll still need to prepare materials for submission to a conference for next 3 weeks, but I'l

[2018-10-27 16:13] darrenldl commented on #23
Okay, so I couldn't find any GitHub notification for this issue when you last commented, which was probably the other reason I failed to reply to you on top of being busy. Not really sure what happened with the missing email notification.

[2018-10-28 05:17] darrenldl opened #26 "Compiling for iOS platform"
See https://github.com/darrenldl/reed-solomon-erasure/issues/23#issuecomment-419348750

[2018-10-28 05:47] #23 closed

[2018-10-28 05:47] #25 closed

[2018-10-28 05:47] #26 closed

[2018-10-28 08:49] darrenldl commented on #23
Hey @EvgenKor, `reed-solomon-erasure` v3.1.1 has been published on creates.io

[2018-10-28 11:42] KORuL opened #28 "compile with ndk error"
I try to build using ndk dll library for android with next  cargo-config/toml :

[code]

and build with command:

[code]

, but your library causes the following error:

[code]

And please merge the dev branch with master

[2018-10-28 12:57] KORuL commented on #28
I use 3.1.1, this error on 3.1.1

[2018-10-28 13:38] darrenldl commented on #28
Oh sorry, I read the last PR again and the fix wouldn't work for this issue.

I'm fixing it right now, should be done in a few minutes

[2018-10-28 13:51] darrenldl commented on #28
Hello @KORuL

The issue is tracked at PR #30

I will be off to bed now, but I will check for replies in the morning.

Let me know if the dev branch works for you, if so then I'll publish it to crates.io

[2018-10-28 17:48] KORuL commented on #28
[code]

[2018-10-28 23:09] darrenldl commented on #28
So I made another mistake in the conditional compilation, which is fixed in the dev branch now.

Let me know if the dev branch now works on your targets

[2018-10-29 17:47] KORuL commented on #28
[code]

[2018-10-29 18:39] KORuL commented on #28
I accidentally discovered here that reed-solomon-erasure = {version = "3.1", features = ["pure-rust"]} compiles to all three target android perfectly

[2018-10-29 22:58] darrenldl commented on #28
Okay I kept making mistakes, sorry about it.

And yep, "pure-rust" feature disables SIMD always, so that is a backup plan in case the automatic detection does not work well.

Sorry again for keep messing it up. I need to submit my paper to a conference in 3 weeks, and can't really focus on other projects too well.

=====

I am really lost on how to detect if the target is Android at this point, I

[2018-11-10 09:08] darrenldl commented on #28
Didn't seem to see any new solutions, so I will close this issue for now.

Feel free to open another issue if you have new issues or you have a solution to this problem.

[2018-11-10 09:08] #28 closed

[2018-12-13 17:40] rphmeier opened #33 "Override limit on 256 shards"
I have a project where I need a reed-solomon encoding which may have thousands of pieces.

Can you explain the limitation on 256 shards and what it would take to lift?

[2018-12-13 17:43] rphmeier commented on #33
https://github.com/klauspost/reedsolomon/issues/78

I found this, which indicates that it has to do with the galois field implementation.

[2018-12-13 19:42] rphmeier commented on #33
(making the encoder generic over field is some work we might be interested in)

[2018-12-14 03:12] darrenldl commented on #33
Yep you're correct, it is related to the galois field implementation. Specifically both the library you linked and this library are using galois field 2^8 implementation, which means the coding matrix is 256x256 at most in size.

The more specific explanation is available in the paper/document [here](https://people.cs.clemson.edu/~westall/851/rs-code.pdf) (page 10 onward).

Essentially, the encodi

[2018-12-14 03:19] darrenldl commented on #33
To lift the restraint, a new implementation using at least galois field 2^16 needs to be used. The exponent is usually a multiple of 8 to align with the fact that bytes are usually 8 bits in size. So gf16 (or galois field 2^16) would take 16 bits at a time.

I personally don't have the time to investigate that, and also lack the expertise to write the required SIMD accelerated code based on this [

[2018-12-14 03:20] darrenldl commented on #33
Mind if you share some of the requirements here/via email? Depending on your requirements, the current implementation may suffice with specific shard arrangements.

[2018-12-14 17:40] burdges commented on #33
It's extremely helpful just to point us to the papers you believe relevant, so thank you!  :)

[2018-12-14 18:40] burdges commented on #33
Just fyi, we're actually implementing a variant of [this proposal](https://arxiv.org/abs/1809.09044), so the point to have numerous pieces with which to prove data was shared, not to be optimal, and GF(2^16) gives us 16k/size pieces.

We're not necessarily doing the two-dimensional encoding in that paper, so maybe ideas like fountain codes actually serve this use case best.  In fact, [repairable f

[2018-12-15 02:56] darrenldl commented on #33
I looked at the proposal, and even with the original scheme at page 13, the size limits of (byte level) Reed-Solomon codes are still the limiting factors of how much data can be accommodated, so I can see why one might as well just go with (block level) Reed-Solomon erasure codes.

The authors of the paper on SIMD Reed-Solomon made an implementation as it turned out (I didn't read it very carefull

[2018-12-15 03:06] darrenldl commented on #33
The new field implementations would be absolutely much appreciated. I am uncertain how much help I can be of for next 2-3 months, as I'll be dedicating my time completely to a research project to try to meet a conference submission deadline. I might be able to chime in or take a look every now and then, but absolutely can't guarantee any time at all.

I am happy to review, refactor code, and add t

[2018-12-15 03:36] darrenldl commented on #33
Sorry missed this text. Fountain codes seem better yep, if I'm understanding the limitless sequence property correctly anyway.

Personally, I feel that if Fountain codes have sufficient performance, then it would be the most flexible and scalable. Otherwise Reed-Solomon erasure code at least have SIMD acceleration, and reasonably simple operations overall to warrant okay performance even if SIMD i

[2018-12-15 16:46] burdges commented on #33
Thank again!  We expect GF(2^16) would be implemented as a field extension of GF(2^8), so you'd have a second table of size 256 for the field extension.  And @drskalman said he implemented larger binary fields this way before.  I've no idea if that's actually the fastest approach, but sounds reasonable.

Just if you're curious but kinda off topic here:

In our situation, there is a proof that each

[2018-12-15 17:35] darrenldl commented on #33
Oh nice! That's interesting, now I'm curious how the maths work haha.

I'll revisit your paragraphs later when I'm more awake. Thanks for the pointers to the papers as well! They certainly look interesting as they feel somewhat related to what I'm working on (protocol verification) and what I study as hobbies (logic and security).

[2019-01-03 17:16] rphmeier commented on #33
Opened #34 with some cleanup in preparation for making `ReedSolomon` generic over `Field`. We are doing a `GF(2^16)` or `GF(2^32)` implementation which will implement this trait.

[2019-01-03 17:23] darrenldl commented on #33
Thanks for the PR! I went through briefly and will have a more closer look later.

I noticed the SIMD acceleration is removed entirely, which is used by some people of another project.

I'm curious if it would be ported back later, and also how you do you plan to expose both `GF(2^8)` and (`GF(2^16)` or `GF(2^32)`) in the final API roughly.

[2019-01-03 17:34] rphmeier commented on #33
Isn't LLVM really good at lifting loops to SIMD instructions?

[2019-01-03 17:54] darrenldl commented on #33
I'm afraid not introducing it back would be detrimental in some use cases. The specific techniques (see [paper](https://www.ssrc.ucsc.edu/Papers/plank-fast13.pdf)) used allows 4x-10x speed up depending on CPU core count and SIMD support.

(My memory is fuzzy on this, so I might be wrong). More specifically the techniques introduce speed up of table lookup by using shuffle instructions. essentially

[2019-01-03 18:01] darrenldl commented on #33
One more thing before I sleep :

[2019-01-03 18:01] darrenldl commented on #33
(Misclicked, sorry)

[2019-01-04 04:06] darrenldl commented on #33
@rphmeier Just heads up, I might not respond at all for next 2-3 weeks, apologies in advance. I will try to check in on weekends, midnights or when I'm free however.

Also the following modules seem to be missing in `lib.rs`
[code]

Thanks very much for your work btw, let me know how would you like to be acknowledged in the README (or just add it to this PR).

[2019-01-04 13:53] rphmeier commented on #33
It's a bit more idiomatic to have all tests in a `tests` sub-module -- I did a bit of restructuring (just finished) where all e.g. matrix or inversion_tree tests are kept in the same file. The lib-tests, I moved into a `tests` submodule in another file, because they were too big to put in `lib.rs`.

[2019-01-04 14:34] rphmeier opened #35 "Reintroduce rayon via `Output` trait"
Vague description in https://github.com/darrenldl/reed-solomon-erasure/pull/34#issuecomment-451457992

[2019-01-04 14:37] rphmeier opened #36 "no-std support"
Can be done by
  - Introducing an `std` feature, which enables `std` features of libc and smallvec.
  - When `std` not present, the alloc crate and feature need to be linked.

[2019-01-04 19:25] rphmeier opened #37 "2018 edition"
Should be simple enough to upgrade it via `cargo fix --edition`

[2019-01-05 16:01] #37 closed

[2019-01-08 15:33] rphmeier opened #41 "Extract core functionality to a "core" module"
I think a reasonable API would be to have the following module structure:

[code]

A typical user would access
[code]

[2019-01-09 03:05] darrenldl opened #42 "Add more tests to galois_16 maybe"
Certain functions are missing direct tests, not overly urgent atm however, so best to focus on development of new code first.

[2019-01-11 17:58] darrenldl opened #44 "Add tests to check impl crate::Field for Field in galois_8.rs"
Not really sure if there's a good way to test this without duplicating a lot of the tests, so just leaving this issue as a reminder in case new ideas pop up.

[2019-01-12 07:15] darrenldl opened #45 "Add more platforms and CPU archs to the CI test suite"
Use [blockyarchive](https://github.com/darrenldl/blockyarchive)'s setup as backup reference. but ideally there should be a more up-to-date and easier to use setup documented somewhere.

[2019-01-14 10:38] darrenldl commented on #35
@rphmeier I have been thinking if the use of rayon can be replaced with parallelism constructs which are available in no-std environment (through either stdlib or crate with no-std support).

Are you aware of anything of that sort?

[2019-01-14 13:47] rphmeier commented on #35
I'm not aware of anything that's available generically in no-std. For now I think it would be best to implement a `WithRayon` adapter available under `std`, perhaps even under a `rayon` feature.

[2019-01-14 15:01] darrenldl commented on #35
Ah gotcha. Yeah that makes sense, I was just curious if parallelism can be done in no-std environment for speed up.

[2019-05-06 17:36] Ironlenny opened #47 "[Question] Implementing Parity Volume Set Specification 2.0"
I'm writing an implementation of [Parity Volume Set Specification 2.0](http://parchive.sourceforge.net/docs/specifications/parity-volume-spec/article-spec.html). I'm a Rust novice, but it seems to me that your library as is won't work for me. If that's true, I'd like to extent it, but I'm not sure how to go about doing that. It seems based on [this](http://parchive.sourceforge.net/docs/specificati

[2019-05-06 23:14] darrenldl commented on #47
PAR2 requires a GF16 (Galois field 2^8) engine while the published versions of this library (3.X.X) currently only provides GF8, so the published versions would not fit your need indeed.

There is some work put into implementing GF16 (Galois field 2^16) by @rphmeier, @drskalman and @burdges, which has been merged into the master branch. You can see issue #33 for more context and our discussion. Th

[2019-05-07 01:50] Ironlenny commented on #47
PAR2 is actually a rather simple spec. It defines a series of packets. What the type and size of the contents of each packet are. And what the algorithms are to be used in the creation of said packets. The only packet that's giving me trouble is the recovery packet as it requires the Reed-Solomon algorithm. And I'm still learning that.

As for why I'm doing this. I want to learn more about Rust, a

[2019-05-07 02:19] darrenldl commented on #47
Whoops, you're right, I was way wrong. I guess I was thinking of another specification.

I see. There are some projects using this library should you want any very concrete examples, [hbbft](https://github.com/poanetwork/hbbft) is one, but it's used for distribution type of deal rather than local data error recovery iirc. For local data error recovery, I have made an [archiver](https://github.com/

[2019-05-07 09:03] rphmeier commented on #47
The GF(2^16) implementation @drskalman and I did is working, although unoptimized. We are using it for a fault-tolerant data replication service as part of a larger project.

[2019-05-07 09:16] burdges commented on #47
We're quite interested in optimizations to the GF(2^16) arithmetic.  I'm not convinced the sum of logs optimization is being used quite right, although I've not hard the time to dig into it myself.  I'm afraid that's kinda subtle topic though.

[2019-05-08 04:10] Ironlenny commented on #47
At the moment I'm just looking how to fit this to purpose. This is the formula I'm using: `recovery = (inputA * constantA ^ exponent) + (inputB * constantB ^ exponent)`. Where `inputA && B` are shards, `constantA && B` are 2^n where 'n' has an order of 65535, and `exponent` is the power of 2 assigned to the recovery shard. All operations are done with Galois Fields.

I don't know how to fit this i

[2019-05-08 04:43] darrenldl commented on #47
Sorry did you mean the algorithm of this library or the algorithm of PAR2?

[2019-05-08 04:43] Ironlenny commented on #47
The algorithm for PAR2.

[2019-05-08 07:49] darrenldl commented on #47
Right. I think I know where it is going very roughly after reviewing the specs as well as Plank's paper, but I don't have time to fully investigate. Understanding the algorithm being PAR2 is part of your project anyway.

I did have a look at par2cmdline's source code, and judging by how Reed Solomon coding is used there, this library *may* be usable with some adjustment, but not too certain. Speci

[2019-05-09 13:36] darrenldl commented on #47
There is some interesting talk on GF16 performance and PAR stuff over at https://github.com/Parchive/par2cmdline/issues/130.

Most of the performance talk flew over my head cause I'm pretty clueless on very low-level performance stuff and also not well versed in the accelerated Galois paper, but reckon you guys probably have better luck extracting info from it.

[2019-05-29 20:31] burdges opened #48 "Optimize GF(2^16)"
I doubt this 256 x 256 MUL_TABLE approach for GF(2^8) provides optimal performance because 64kb eats lots of cache.  We should ask someone who knows CPU caches better.  Assuming cache causes the poor performance though, I two main approaches:

In GF(2^8), we implement  a*b = exp(log a ++ log b)  using two 256 byte tables, where ++ is the integer +.  In GF(2^16) = GF(2^8)[x]/I(x), we implement
[cod

[2019-05-29 23:54] burdges commented on #48
We might also explore GF(2^12) handled with either 4k log and exp tables, one 4kb 64x64 multiplication table for GF(2^6) and an irreducible polynomial of degree 2, or one 256 byte 16x16 multiplication table for GF(2^4) and an irreducible polynomial of degree 3.  We'd encode 3 bytes from chunks into two elements in GF(2^12), meaning either four polynomial coefficients of GF(2^6) or six polynomial c

[2019-05-30 01:12] darrenldl commented on #48
We'll need to measure cache miss rate first before jumping to any conclusion anyway. But the change does seem to reduce cache misses for the library when built in pure Rust, so I'm in favour of investigating in this direction.

Also if you know anyone who has the required expertise you have in mind, their contribution is very welcomed.

[2019-06-02 23:18] burdges commented on #48
I presume the the fields we're discussing are too small for binary field FFT tricks to be useful?

I just noticed http://www.math.clemson.edu/~sgao/papers/GM10.pdf via https://vitalik.ca/general/2019/05/12/fft.html  I think the 2016 article https://arxiv.org/pdf/1503.05761.pdf provides more of the theoretical background, especially via many more references.

[2019-06-04 07:24] darrenldl opened #49 "Add BackBlaze, Klaus Post, Nicolas Trangez to LICENSE"
I didn't realise copyright notice needs to be carried over as per the MIT license at the time of writing this library, and only added attributions in README.

[2019-06-05 11:09] darrenldl opened #50 "Review design of ReedSolomon::reconstruct_internal"
`ReedSolomon::reconstruct_internal` splits the group of shards into 4 small groups to work around lifetime issues. The function was written a year ago when I just started using Rust, and definitely felt hacky at the time.

I feel it can be rewritten to be cleaner, and I should have another look with slightly more people using this project than before.

[2019-06-06 03:24] darrenldl commented on #50
After reviewing, I think the current approach is about as clean as one can do - iterate once, categorise each slice into one of the three groups, and no ownership issues arise from it as the original group is not touched afterwards.

A small note for future self/other reviewers (mostly myself) for reference- comparison of `&usize`'s are fine and well defined, specifically they reduce to comparison

[2019-06-06 03:24] #50 closed

[2019-06-08 12:56] darrenldl commented on #35
Put on hold until #48 is resolved.

[2019-07-04 09:03] darrenldl opened #51 "Added contributors of galois_16 to LICENSE file"

[2019-07-28 14:20] animetosho commented on #48
I happened to come across this topic, and thought I'd drop my thoughts here in case you're interested.

Typical L1 data cache on CPUs is 16-64KB, L2 is typically 128-1024KB. 64KB won't fit in L1 cache, but usually will in L2.
However, that's not so important, as it's the access pattern which ultimately matters. When multiplying a region by a constant, you're only looking at a 256-byte slice of the

[2019-07-28 14:39] darrenldl commented on #48
Thanks for the resources @animetosho ! I have been wondering if there would be a good starting article to reference to when I start looking into this a few weeks later, your detailed response was a very pleasant surprise.

[2019-08-25 15:35] nazar-pc opened #52 "WASM support?"
As part of my work at Subspace Labs I've made a port of this awesome library to WebAssembly such that it runs in browser and Node.js environments: https://github.com/subspace/reed-solomon-erasure.wasm
I had to do some tweaks though, because despite successful compilation, Rayon internals were failing in runtime with panic trying to figure out how many CPU cores there are when deciding on paralleli

[2019-08-25 16:06] darrenldl commented on #52
**Preface**: I am still away atm, so I won't be touching this until September it seems, and so my reply may not be very detailed or relevant as I haven't looked into the code base in a while.

Interesting work! Never crossed my mind to use it in web stuff. Glad you find it awesome, haha - this library definitely took me a ridiculous amount of time for the first few versions.

Hm okay, that's good

[2019-08-25 16:27] nazar-pc commented on #52
Making it use single thread just for `wasm32-unknown-unknown` target would be enough. BTW, WebAssembly should gain multi-threading support soon-ish, so it would be beneficial to be able to add such support back when that become available in browsers and Node.js.

1. Yes, it is a binary build artifact, I typically check it into source tree for convenience, for instance when running tests on top of

[2019-08-25 16:35] darrenldl commented on #52
Thanks for the quick reply!

I think I'll look into putting it behind a build flag - I vaguely recall there was similar need for when building for no-std environment.

For binary artifacts, I'm mainly concerned about reproducibility - do I need to go out of my way to ensure the build produced is a reproducible build or do most tool chains (or specifically the one you're using) offer that already?

[2019-08-25 16:37] nazar-pc commented on #52
It is not reproducible yet and I was also a bit concerned about that. I may look into something that will strip non-deterministic info from the binary to make it fully reproducible if needed.

[2019-08-25 16:45] darrenldl commented on #52
If it's from a single authoritative source (say from CI), then it's fine-ish. Or at least I'm fine with that for my other binary projects.

But since I don't know if one can publish things through CI (or at least I'm not aware of ways to transfer credentials securely to a CI worker), I think reproducible build is needed as an assurance to users.

But for the initial versions, maybe that's fine I t

[2019-08-25 16:50] nazar-pc commented on #52
For NPM you should be able to issue a token with write access, add it as a secret to Travis CI and use for publishing to NPM in automated fashion.

[2019-08-25 16:51] darrenldl commented on #52
Oh okay, then yeah sure, I'm happy to have this repo take care of WASM builds in that case.

[2019-09-05 09:52] darrenldl commented on #48
Sorry for the long downtime guys, I've finally got a small breathing room, and will try to wrap most of the issues up in next 2-3 weeks.

[2019-09-05 09:53] darrenldl commented on #52
Just FYI, I've got a bit of free time atm, and will try to wrap most issues up over next 2-3 weeks, including this one.

[2019-09-16 18:07] sagar-solana opened #53 "Request for a new Release"
Hi @darrenldl!

We over at https://github.com/solana-labs/solana are seeing some major slowdowns with `reed-solomon-erasure's` use of rayon  on `3.1.1` (possibly related to https://github.com/rayon-rs/rfcs/pull/5).

Our use case hurts particularly badly since our data size is much smaller(set to [MTU](https://en.wikipedia.org/wiki/Maximum_transmission_unit)) than those used in the `rse-benchmarks`

[2019-09-16 18:54] sagar-solana commented on #53
On second thought it seems as though master is much slower than the current `3.1.1` release without rayon.

Here's a comparison of master with rse_benchmark vs `3.1.1` without rayon.

On Master
[code]

On 3.1.1 the only change I've made is
[code]

and it benchmarks really well

[code]

without the `into_par_iter` change
[code]

I guess for now we're going to fork this repo and run without rayon.

[2019-09-17 00:36] darrenldl commented on #53
Sorry I've just started my PhD, so schedule's a bit hectic. But I am trying to clear issues this week as promised to others as well.

~~Rayon should be strictly an improvement, so I need to think a bit more as to why it leads to performance degradation. On my machine, Rayon scales the performance linear to number of parity shards up to number of CPU cores.~~
Okay I just read your comment again and

[2019-09-17 00:42] sagar-solana commented on #53
Oh that's pretty great! I can imagine finding time for pet projects must be hard :)

My previous comment shows the benchmark(parameters included) on master vs the benchmark on 3.1.1 and also the massive improvement by disabling the outer rayon loop. Take a look at it again? Lmk if I can help clarify.
Tl;Dr with our parameters master benches about 5x faster than 3.1.1. But by disabling rayon on 3.1

[2019-09-17 00:46] darrenldl commented on #53
Whoops sorry! Yep I read it properly now.

I just remembered master (here) disables SIMD by default now, mind if you add feature `"simd-accel" for master and try again in rse-benchmark? That might remove a large part of the discrepancy.

[2019-09-17 00:48] sagar-solana commented on #53
Alright I'll give that a shot. I'm afk for the next few hours but I'll post here when I've got the numbers :)

[2019-09-17 00:48] darrenldl commented on #53
Thanks very much!

[2019-09-17 02:29] sagar-solana commented on #53
@darrenldl that seems to have done it!

[code]

Super fast now and lines up with the non-rayon impl I forked. So that makes sense now. :)

[2019-09-17 02:34] darrenldl commented on #53
Thanks!

Since master here doesn't use rayon as well, I'm guessing the trait way of doing things are causing slight slow down maybe, but benchmarking this lib has always been very sensitive to noise, so I'll confirm later.

In any case, 100MB/s performance degradation seems acceptable if it means the architecture can support more backends (gf8 + gf16).

[2019-09-17 02:36] sagar-solana commented on #53
I'm sure it needs a wider data set of testing to confirm but this definitely speeds everything up within margin of error of our fork of `3.1.1`.

I think as soon as you're able to make a new release we'll drop our fork and switch to this.

[2019-09-17 03:08] darrenldl opened #54 "Contributors"
Hey @rphmeier, @drskalman and @burdges,

I'm updating the credits section w.r.t. galois16 and other code contributions, I can see contributions from @rphmeier  and @drskalman in the charts, but not @burdges. But @burdges has been involved since the beginning of the conversation, so I'm confused about the exact involvements.

Mind if someone clarify who I should list as contributors?

Cheers

[2019-09-17 06:16] #49 closed

[2019-09-17 06:32] darrenldl commented on #41
@rphmeier this is resolved or superseded by the current design right?

[2019-09-17 06:45] darrenldl commented on #44
Can't write meaningful tests really, closing issue.

[2019-09-17 06:45] #44 closed

[2019-09-17 07:03] darrenldl commented on #52
Hey @nazar-pc

I'm clearing the backlog actively this week, but still on a (very) limited time budget.

Mind if I ask a few questions to help me speed up the process?

1. What's the procedure/command for building the WASM binary object? Any dependencies associated?
2. Any pointers for procedure for setting up automated NPM publishing?

[2019-09-17 07:10] darrenldl commented on #54
Please do chime if I missed anyone else.

I've just started my PhD and likely to have lost track of myriad things, sorry!

[2019-09-17 07:15] darrenldl opened #56 "Updated README example and instructions"
Instructions on toggling SIMD are outdated.

Example is outdated.

[2019-09-17 08:17] rphmeier commented on #54
Hey Darren,

@drskalman and I collaborated on the implementation work; with advice from @burdges. Jeff's contribution was non-negligible so I'd say it's fair to include him on a list of contributors (even though there are no commits :) ). Up to you as the maintainer.

Cheers

[2019-09-17 08:46] rphmeier commented on #41
I guess every aspect of it except that the `core` stuff is still in `lib.rs`.

[2019-09-17 09:36] darrenldl commented on #54
Ah okay, that makes more sense. I was thinking you guys were collaborating behind the scenes, but I wasn't sure.

I'll just list everyone down in alphabetical order unless you guys have a different preference.

[2019-09-17 09:42] darrenldl commented on #41
Ah right. I'll move the two chunks of code into core to organise better then.

The trait implementations will continue to be in `lib.rs` then I guess?

[2019-09-17 09:50] darrenldl commented on #51
@rphmeier, @drskalman and @burdges

Personally, due to the significant amount of work done by you guys, I feel being added to LICENSE file is appropriate and natural.

My understanding is if things get legal then joint copyright can get messy, which I don't exactly anticipate to happen, but I am also very naive and inexperienced in the handling of things like this.

Do you guys have any advice on

[2019-09-17 10:11] darrenldl commented on #54
Which format would you guys prefer?

- `Full name [github user name](github user profile link)`
- `[github user name](github user profile link)`

[2019-09-17 10:12] rphmeier commented on #54
No strong opinion, mild preference for option 1. Thanks Darren.

[2019-09-17 10:23] #41 closed

[2019-09-17 21:31] nazar-pc commented on #52
1.a. For WASM itself there are just 2 dependencies in the project itself: one is `wasm-bindgen` that creates a convenient bridge to WebAssembly from Rust and another is `wee_alloc`, small memory allocator for optimal size on the WEB: https://github.com/subspace/reed-solomon-erasure.wasm/blob/master/Cargo.toml
1.b. You have to have `wasm-pack` installed on your system in order for build to work
1.c

[2019-09-17 23:33] darrenldl commented on #52
Gonna ask some silly questions (things I can probably google but even spending a few hours on this is a bit extravagant for me right now).

So to build the WASM artifact, I can just create a second package here which depends on `reed-solomon-erasure` right? I am mainly concerned about adding dependencies directly to `reed-solomon-erasure` that only get used in WASM workflow.

If I can make a say,

[2019-09-17 23:34] #54 closed

[2019-09-18 19:27] nazar-pc commented on #52
Yes, creating second wasm-specific package seems fine to me. Your plan is pretty much how I see it as well.

[2019-09-19 10:58] darrenldl commented on #51
Closing issue for now due to no response.

Feel free to reopen this issue or contact me via email etc if further discussion is desirable.

[2019-09-19 10:58] #51 closed

[2019-09-19 12:48] rphmeier commented on #51
Hi Darren,

That's kind, but I don't have a strong preference since it's the MIT license anyway! We are using it at the moment in some GPL3 open-source software

Cheers

[2019-09-20 04:20] #56 closed

[2019-09-21 03:01] darrenldl commented on #42
Moved to 4.0.1 release to allow release of 4.0.0 sooner.

`galois_16` doesn't seem to be missing too many tests if any, so will come back to this in a later release.

[2019-09-21 04:20] darrenldl commented on #53
4.0.0 has been released, closing this issue

But feel free to let me know if there are stuff still to be resolved via here or other channels

[2019-09-21 04:20] #53 closed

[2019-09-21 04:47] darrenldl opened #62 "4.0.0 has been released"
This is just to serve as a notification to people involved in recent issues
@rphmeier @drskalman @burdges
@sagar-solana

@nazar-pc I'll try to make WASM builds available in 4.0.1 release, tentatively on 25th Sep

Thanks again for everyone's patience and help, sorry for the delays in past couple of months as well

[2019-09-23 14:46] #62 closed

[2019-09-24 23:20] darrenldl opened #65 "Use u8 instead of libc::uint8_t for galois_8.rs"
See https://github.com/darrenldl/reed-solomon-erasure/pull/63#issuecomment-534591608

[2019-09-25 04:12] #65 closed

[2019-09-27 04:12] darrenldl commented on #52
@nazar-pc I'm working on wasm builds at the `wasm` branch, copying your code and stuff as I go.

Right now I'm just having the package under the `wasm` directory, let me know if you think a different layout would be better - I'm not very familiar with conventions with multiple (sub) packages in a git repo.

[2019-09-27 04:30] darrenldl commented on #52
I also need to make some interface changes with your code, which I've copied over to this repo.

I'll ping you when the changes are in place to let you see if it's still ergonomic to use from JS/TS side.

I've also updated the README.md (at wasm branch) credits section, see if you're happy with the acknowledgement statements [here](https://github.com/darrenldl/reed-solomon-erasure/tree/wasm#wasm-b

[2019-09-28 15:24] nazar-pc commented on #52
`wasm` directory seems alright to me and readme changes make sense 👍

[2019-10-13 13:15] darrenldl commented on #52
@nazar-pc It seems that a new ReedSolomon struct is constructed in every `encode` and `reconstruct`, I'm curious if this can be improved?

Also are `encode` and `reconstruct` the only functions needed?

[2019-10-13 13:21] nazar-pc commented on #52
I'm not sure how expensive creating that struct actually is. If it is indeed relatively expensive, it would be better to create it once and then reuse (something like a struct address should be exposed in that case I guess).

Those are the only 2 functions we were needing at Subspace, but I can see more of the low-level functions being exposed in the future for those who need them. Having just tho

[2019-10-13 13:25] darrenldl commented on #52
I presume one can create an object in TS as well right? Trying to gauge if it's doable to have a single instance in TS.

Also just FYI, I've updated `wasm` branch to conform to new API as well, in case that's useful to your group.

[2019-10-13 13:29] nazar-pc commented on #52
Yes, `class ReedSolomonErasure` is what object is created from (TypeScript is essentially just a syntaxic sugar with type checking for JavaScript).
So instead of specifying data and parity shards in methods, those will be constructor arguments, struct will be instantiated once in constructor and reference to struct will be stored and passed along internally in subsequent method calls.

[2019-10-13 13:33] darrenldl commented on #52
Okay brilliant! I'll experiment with that a bit then.

I'll just look into publishing WASM to NPM first for now, and do the API changes in future.

[2019-10-13 13:59] darrenldl opened #68 "Upgrade fill_random in test"
Very occasionally (e.g. Travis CI [job #351.1](https://travis-ci.org/darrenldl/reed-solomon-erasure/jobs/597256308)) tests fail very randomly that doesn't make any sense.

My suspicion is since `fill_random` doesn't check if the new random value is indeed different from original value, tests which assume `fill_random` will always corrupt data may fail very rarely (1/256 chance) as a result.

[2019-10-25 00:29] darrenldl opened #70 "Add sakridge to credits section for AVX512 support"
See PR #69

[2020-02-15 04:30] #70 closed

[2020-03-25 00:35] bowenwang1996 opened #74 "Memory leak"
In `get_data_decode_matrix` the inverted matrix will always be added to the trie but nothing seems to every gets removed from the trie, so this can potentially consume a lot of memory. Is it expected that an instance of `ReedSolomon<F>` wouldn't be used too many times?

[2020-03-25 00:54] darrenldl commented on #74
It is expected there would not be a lot of inverted matrices required for a run of the application, which may not be a valid assumption, especially after the upgrade to GF16 where the number of possible matrices may be much larger than GF8.

At the time of writing the library, most of the efforts was dedicated to making sure the code was sound, and thus this memory leak was overlooked (and also it

[2020-03-25 01:09] darrenldl commented on #74
Adding a cache eviction procedure would be ideal (obviously), but I think I'm overwhelmed by things at the moment to warrant me implementing it.

[2020-03-25 01:57] darrenldl commented on #74
I roughly outline the changes that need to be made as follows to help the fix get started
- Either define the upper bound as a constant, or as a parameter in the `ReedSolomon<F>` instantiation function, and passed to the tree creation procedure
- `InversionTree` type in `src/inversion_tree.rs`  needs to have at least one more field for cache eviction metadata (number of fields depends on which cac

[2020-03-25 02:09] darrenldl commented on #74
Lastly, I definitely could have documented this memory leak, which I know from the start, better and lodged it as a backlog issue to tackle later on or for others to tackle.

At the time of porting from Klaus Post's Go implementation to Rust's, I was mostly focusing on correctness (via heavy testing) and matching the feature parity of Klaus's. Flaws carried over from Klaus's were overlooked if the

[2020-03-25 02:52] bowenwang1996 commented on #74
@darrenldl Thanks for the quick response. We have found a workaround so it is not super urgent.

[2020-04-02 06:05] darrenldl opened #76 "Add ryoqun to credits"
See patch for build.rs at PR #75

[2020-04-05 16:48] #76 closed

[2020-04-12 10:31] darrenldl commented on #74
@bowenwang1996 Just to get some sanity checks before I attempt to do anything: is there a cache eviction policy in mind that you think would enable best performance in, say, your company's use case?

I was thinking of just doing a simple LRU, but reckon I should check with others before too late just in case that's a terrible idea.

[2020-04-13 14:39] bowenwang1996 commented on #74
I don't have anything specific in mind. I think LRU works.

[2020-08-25 11:35] drskalman opened #79 "Add the ability of only reconstructing certain shards"
We have situations that we have recovered some data and parity shards but we are only interested in recovering a specific subset of the shards instead of the whole encoding mainly due to performance issues. As such it is useful to have ```reconstruct_subset_of_shards``` function. I'm working on it and opened this issue to discuss and track implementation detail etc.

[2020-08-25 11:52] darrenldl commented on #79
I think the following notes which I thought of as I revisited the code briefly might be worth mentioning:
- If the selected subset strictly concerns only with data shards, then the code can just reconstruct the required subset
- But if the selected subset contains any parity shard, then it should implicitly/automatically include all missing data shards in the target set as well (as required for co

[2020-08-25 14:58] drskalman commented on #79
At least currently we are only need to reconstruct some data shard so
maybe the interface for now just alllow asking for those. so maybe for
now I just implment

[code]

instead. @burges thoughts?

[2020-08-25 22:06] burdges commented on #79
We're interested in the "perpendicular" situation with partial shards:

We've an k-of-n encoding of a message of size m.  We're using GF(2^16) since n>256, so each R-S polynomial contains exactly 2k bytes of data.  As m >> 2k we necessarily split the message up across several R-S polynomials, meaning we rounded m up to some m' such that 2k | m'.

We want the data between indices u and v.  We let u

[2020-08-26 11:43] drskalman commented on #79
I'd rather opening a new issue for any error correcting related matter,
and move the discussion about error correction there.

But for the matter of partial recovery I understood that I
misunderstood the requirement when I originally created the ticket.

TL;DR is that not only we want to limit the reconstruction to a specific
shard and not the whole data but also only specific sub-chunk of that
sh

[2020-08-27 03:38] darrenldl commented on #79
Okay, that's interesting.

Is the sub chunk always contiguous?

[2020-08-27 05:03] burdges commented on #79
Yes.  It's mostly an authentication question:  How much do we want to make hashing and merkrle proofs overlap with the erasure coding?  I suppose a shard type could expose an iterator over data in the same polynomial, which I guess is ever even index.

[2021-02-04 11:20] burdges opened #80 "SIMD for GF(2^16)"
We invoke C code for SIMD in [galois_8.rs](https://github.com/darrenldl/reed-solomon-erasure/blob/master/src/galois_8.rs) but [galois_16.rs](https://github.com/darrenldl/reed-solomon-erasure/blob/master/src/galois_16.rs) merely uses galois_8.rs.

There is an more bespoke approach to GF(2^16) in [Screaming Fast Galois Field Arithmetic Using Intel SIMD Instructions](https://www.ssrc.ucsc.edu/media/p

[2021-02-04 11:36] burdges commented on #74
I suppose `ReedSolomon::new` gets somewhat heavy too, so maybe worth mentioning https://github.com/dermesser/memoize somewhere.

[2021-02-04 11:40] burdges commented on #48
I think #80 covers the arithmetic side of this, but we should open a separate issue for the FFT side.

[2021-02-04 11:40] #48 closed

[2021-02-04 11:56] darrenldl opened #81 "Moving this repo into an org? (Or alternatively add main contributors as collaborators for push access)"
Tagging main contributors/users I have in mind (apologies if I missed any): @burdges @drskalman @rphmeier

To people above and also to (active) users and other contributors of this library:
Sorry for my lack of responsiveness, life's been overwhelming a bit, and my line of work right now is not related to Rust. So it's difficult for me to keep track of Rust's side of things when I'm not actively u

[2021-02-04 14:23] burdges commented on #81
We're fine to handle PRs by other parties, and publishing on crates.io if you prefer.   I could do so if nobody else wants to, but first..

We'll ideally migrate to an FFT design not only for encoding, but also for decoding using the formal derivative trick described in https://github.com/Bulat-Ziganshin/FastECC#faster and https://www.citi.sinica.edu.tw/papers/whc/3450-F.pdf  We envision using the

[2021-02-05 02:34] darrenldl commented on #81
Ah right, so no point in fixing the caching if we are moving toward that.

If I'm not minunderstanding the definitions, then both I think. But it's not an exceedingly important part of the formula since I don't know if there are active users of the archiver, on top of it being feature complete, and it can always stick to an older version of the crate if there are indeed issues.

I am definitely mo

[2021-02-05 07:20] burdges commented on #81
There is an error polynomial in an FFT decoder based upon the formal derivatives trick ala https://github.com/Bulat-Ziganshin/FastECC#faster which maybe still benefits from caching, but requires roughly the number of shards.  It's actually why high rate decoders with fewer parity shards than data shards differ slightly from low rate decoder with more parity shards than data shards.

[2021-02-16 15:27] nullchinchilla opened #84 "Runtime SIMD detection?"
Is it possible for this crate to implement runtime SIMD detection, so that portable binaries with SIMD code inside can be published?

[2021-02-20 06:54] Qeenon commented on #74
@bowenwang1996 hello, may you please check if https://github.com/darrenldl/reed-solomon-erasure/pull/83 is helping?

[2021-09-08 02:31] nazar-pc opened #85 "Request for API improvements"
It wasn't as bad with GF8 where each element is `u8`, but with GF16 each element is `[u8; 2]` and constructing `AsMut<[AsMut<[[u8; 2]]>]>` from something like `&mut [u8]` is a big pain and overhead.

I understand that it is currently nice and tidy on type system level, but it is very painful to use. If there was a way to just supply `&mut [u8]` or a pair in case data and parity shards are separate

[2021-09-08 10:52] darrenldl commented on #81
I think I'll just add everyone tagged in this issue to the collaborator list - you don't have to accept the invite, please feel free to reject if you don't feel like it.

I am definitely phasing out my involvement with Rust for the time being, and have a hard time keeping up with learning new things in my spare time.

[2021-09-24 13:30] ozgunozerk opened #86 "Compilation Error on M1 architecture macs"
Hi there!
As the title summarized, under M1 macs, this crate's compilation crates the following error:

[code]

I found this [link:](https://stackoverflow.com/questions/65966969/why-does-march-native-not-work-on-apple-m1)

I believe this is due to `simd-accel` feature.

[2021-11-29 01:40] darrenldl opened #88 "Looking for new owners/maintainers"
Please reply here if you are interested in taking over maintenance of this package on github and crates.io, cheers.

[2021-12-05 18:25] nazar-pc commented on #88
We use this library at the core of [Subspace Network](https://github.com/subspace/subspace) and I'm willing to help with maintenance here, but I don't have deep knowledge in EC algorithms used here, so might not be able to carefully review corresponding code changes if someone proposes optimization or something like that.

@rphmeier as a major contributor, maybe Parity can adopt this library?

[2021-12-06 10:48] burdges commented on #88
There are many parity devs who afaik are welcome to maintain what they like, but..

We abandoned the direct approaches here as being too slow for polkadot, due to us aiming for over 1000 validators per relay chain.  We instead ported C code that uses an asymptotically faster approach based upon AFFT and formal derivatives, which gave us like a 400x improvement.

It's live in kusama and polkadot no

[2021-12-06 10:59] nazar-pc commented on #88
Oh, then we might want to use that too. We have 128 data and 128 parity shards, which isn't very small. Is it compatible with this library?

[2021-12-06 11:23] burdges commented on #88
We made zero effort to be compatible, our interface remains unstable, and even our wire format could change with changing extension field optimizations, although polakdot demands a migration path.

I've referenced the relevant papers in https://hackmd.io/@rgbPIkIdTwSICPuAq67Jbw/r1B8eRC1u btw.

Just fyi, we always use a Byzantine >2/3rd honest assumption in polkadot.  We must set the true recovery

[2021-12-16 04:38] #86 closed

[2021-12-16 04:49] #36 closed

[2021-12-17 10:23] darrenldl commented on #88
Small update:

Just realised I forgot to change member role in github org: everyone should be a owner now.

Right now we have @nazar-pc and @mvines who are owners of both the repo/org and the crate (also sent an invite to @burdges). Please feel free to make any modification and publishing as you see fit.

I've also added @nazar-pc and @mvines to rust-rse on npm should you want to publish the wasm

[2021-12-31 15:29] nazar-pc commented on #85
Closing for now as those types are so deeply embedded into the library that it would be a huge pain to change.

What I did in my project is I have created `Vec<[u8; 2]>` and with a bit of unsafe treated it as `Vec<u8>` in some cases to avoid excessive re-allocations and memory copying. It isn't nice, but it gave me overall additional 3% time reduction.

[2021-12-31 15:29] #85 closed

[2022-03-12 05:06] SvenDowideit opened #94 "`-march=native` is not supported on aarch64?"
So while I've been sick, I started setting up my old SoftIron Overdrive 1000 (cortex-a57), and it too errors out with `-march=native` not supported when building with clang

[code]

removing the `target_os = "macos",` seems to fix it for this box

[2022-03-16 12:52] nazar-pc opened #96 "Add built-in benchmark"
https://github.com/darrenldl/rse-benchmark is recommended for benchmarking right now, but I think it would be better to just being avble to do `cargo bench` in this repo for testing various changes.

[2022-04-26 03:07] nazar-pc commented on #52
Library now compiles to wasm just fine, also there is a legacy package on NPM. Nothing left to be done here, closing.

[2022-04-26 03:07] #52 closed

[2022-04-26 03:08] nazar-pc opened #99 "Move CI from Travis CI to GitHub Actions"
Travis CI is disabled for this repo and it would be easier for everyone involved to just migrate it over to GitHub Actions.

The only non-trivial thing might be with code coverage.

[2022-04-26 03:20] mvines commented on #99
💯  Travis CI needs to be avoided like the plague. There's major problems in that organization these days. Their response to this recent incident in particular was unacceptable:
https://cycode.com/blog/github-oauth-compromise-affecting-heroku-and-travis-ci-users/

[2022-04-30 06:29] nazar-pc commented on #52
Yes, I am aware. We have 128 data and 128 parity shards in Subspace right now with GF(2^16), which seems to be a different use case than one you have in Polkadot/Kusama. I'm very far from being an expert in erasure coding though, merely just a user.

[2022-05-06 22:34] #94 closed

[2022-06-23 01:03] k3d3 commented on #47
Now that `galois_16` is a thing, does that make it any easier to use this to implement PAR2?

[2022-10-26 22:55] FallingSnow commented on #84
I believe it should be possible. The [aes](https://docs.rs/aes/latest/aes/) crate uses [cpufeatures](https://docs.rs/cpufeatures/latest/cpufeatures/index.html) to detect simd support.

[2022-11-10 20:30] FallingSnow commented on #96
I think we can close this.

[2022-11-10 20:34] FallingSnow commented on #84
I spent a good amount of time working on this. First using rust's nightly feature `portable-simd`, then using rust's simd abstractions. It turns out that doing runtime detection is seriously hamstrung by inlining. It's currently not possible to force inlining when you don't even know which function to inline. All this results in code that is much slower than build time SIMD acceleration.

[2022-11-11 00:07] nazar-pc commented on #96
Yes, thanks for the reminder

[2022-11-11 00:07] #96 closed